@charset "UTF-8";

@font-face {
	font-family: '_font_noto_regular';
	src: url('noto_regular.ttf') format('truetype');
}
@font-face {
	font-family: '_font_noto_mono_regular';
	src: url('noto_mono_regular.ttf') format('truetype');
}

$regularFont: _font_noto_regular, sans-serif, Arial;
$monoFont: _font_noto_mono_regular, $regularFont;

$fontSize: 16px;

$bodyWidth: 384px;

$activeColor: #a0f;

$textColor: #efefff;
$outlineColor: #0f0f13;
$backgroundColor: #1f1f23;
$lighterBackground: #3f3f43;
$checkboxBackground: #4f4f53;
$selectionColor: #5f5f63;
$hintColor: #8f8f93;
$dangerColor: #f14a48; // TODO: выбрать
$dangerColor: #ef4f4f; // TODO: выбрать

$tabsMargin: 4px;
$tabsTextPadding: 6px;

$scrollbarWidth: 8px;

$titleHeight: 32px;
$titlePadding: 4px;

$dragButtonDiameter: 6px;

* {
	color: $textColor;
	padding: 0;
	margin: 0;
	border: none;
	font: {
		family: $regularFont;
		weight: normal;
		size: $fontSize;
	}
	outline: none;
}


html {
	background-color: $backgroundColor;
	user-select: none;
	width: $bodyWidth;
	height: 400px;
}
body {
	width: 100%;
	height: 100%;
}
::selection {
	background-color: $selectionColor;
}

$flagHeight: 60px;
$flagWidth: 90px;
$languagueNameLeftMargin: 10px;
$languagueContainerWidth: 220px;
$languagueContainerPadding: 20px;
#languagues_prompt_view {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: overlay;
	position: relative;
	
	&.tidy {
		& #languagues_prompt {
			top: 0px;
		}
		& #languagues_title_container {
			display: none;
		}
	}
}
#languagues_prompt {
	padding-top: $languagueContainerPadding;
	padding-bottom: $languagueContainerPadding;
	position: absolute;
	top: $titleHeight;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: row;
	box-sizing: border-box;
	flex-wrap: wrap;

	.languague_container {
		padding: $languagueContainerPadding;
		position: relative;
		height: $flagHeight;
		width: $languagueContainerWidth;
		flex-grow: 0;
    flex-basis: $languagueContainerWidth;
		flex-shrink: 0;
		
		cursor: pointer;

		&:hover {
			background-color: $selectionColor;
		}

		.languague_flag {
			height: $flagHeight;
			width: $flagWidth;
			border-radius: 0.5em;
		}

		.languague_names {
			position: absolute;
			display: flex;
			justify-content: center;
			flex-direction: column;
			min-height: 100%;
			top: 0;
    	bottom: 0;
			left: $languagueContainerPadding + $flagWidth + $languagueNameLeftMargin;
		}
	}
}

.scrollable_container {
	position: absolute;
	top: $titleHeight;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow-x: hidden;
	overflow-y: auto;
}

.hint_color {
	color: $hintColor;
}
.dangerous_hint_color {
	color: $dangerColor;
}

.reg_title {
	background-color: $lighterBackground;
	padding-top: $titlePadding;
	text-align: center;
	height: $titleHeight;
	box-sizing: border-box;
}

.icon_btn {
	cursor: pointer;
	padding: 6px;
	box-sizing: border-box;
	
	&:hover {
		background-color: $selectionColor;
	}
}

.title_square {
	display: block; 
	width: $titleHeight;
	height: $titleHeight;
	box-sizing: border-box;
}

$checkboxCenterOffset: 7px;
$checkboxMarkOffset: 2px;

.checkbox_wrapper {
	padding: $checkboxCenterOffset;
}

.checkbox_center {
	background-color: $lighterBackground;
	width: $titleHeight - 2 * $checkboxCenterOffset;
	height: $titleHeight - 2 * $checkboxCenterOffset;
	padding: $checkboxMarkOffset;
	box-sizing: border-box;

	&.checkbox_enabled {
		background-color: $activeColor;

		& .checkbox_image {
			display: block;
		}
	}
}

.checkbox_image {
	display: none;
	width: $titleHeight - 2 * $checkboxCenterOffset - 2 * $checkboxMarkOffset;
	height: $titleHeight - 2 * $checkboxCenterOffset - 2 * $checkboxMarkOffset;
	box-sizing: border-box;
}

.checkbox_hover_parent:hover .checkbox_center {
	background-color: $activeColor;
}

.padded_top_line_button {
	height: $titleHeight;
	padding-top: $titlePadding;
	box-sizing: border-box;
}

.padded_left_line_button {
	padding-left: 8px;
}

.line_container {
	position: relative;
	display: block;
	text-decoration: none;
	height: $titleHeight;
	box-sizing: border-box;
}

.hint_icon {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: $titleHeight;
}

.stick_to_left {
	position: absolute;
	left: 0;
	width: $titleHeight;
	top: 0;
	bottom: 0;
}

.drag_button_dot {
	position: absolute;
	top:    ($titleHeight - $dragButtonDiameter) / 2;
	bottom: ($titleHeight - $dragButtonDiameter) / 2;
	left:   ($titleHeight - $dragButtonDiameter) / 2;
	right:  ($titleHeight - $dragButtonDiameter) / 2;
	border-radius: 100%;
	background-color: #efefff;
}

.next_to_left {
	position: absolute;
	left: $titleHeight;
	right: 0;
	top: 0;
	bottom: 0;
}

.line_hover_glow {
	cursor: pointer;
	&:hover {
		background-color: $selectionColor;
	}
}

.line_input {
	width: 100%;
  padding-left: 8px;
  padding-right: 8px;
	background-color: #222;

	&:disabled {
		background-color: #111;
		color: #888;
		user-select: none;
		&::selection {
			background-color: transparent;
		}
	}
}

::-webkit-input-placeholder {
	color: #888;
}

::-webkit-scrollbar {
	background-color: transparent;
	width: $scrollbarWidth;
	height: $scrollbarWidth;
}
::-webkit-scrollbar-button { display: none; }
::-webkit-scrollbar-track { display: none; }
::-webkit-scrollbar-track-piece  { display: none;
	background-color: transparent; }
::-webkit-scrollbar-thumb {
	background-color: rgba(127,127,127,0.5);
}
::-webkit-scrollbar-corner { display: none; }
::-webkit-resizer { display: none; }